#JNTUA FDP - DAY 5
#### DATE 31 MAY 2019
#### DAY OBJECTIVES
* Tuples
* Dictionaries
* Linear and Binary Search
* Date Arithmetic
* Iterators Generators
* Functional Programming

#### python Tuples

In [13]:
t1=(12,34,56,78,90)
t1

(12, 34, 56, 78, 90)

In [15]:
t1[2:]

(56, 78, 90)

In [17]:
t2=(321,654,789098)

print(str(t2[0])[1],str(t2[1])[1],str(t2[2])[1])

2 5 8

In [19]:
def averageTuple(t):
    sum=0
    for i in range(0,len(t)):
        sum=sum+t[i]
    avg=float(sum/len(t))
    return avg
averageTuple(t2)

263357.6666666667

In [20]:
def averageLinearDS(t):
    sum=0
    for i in range(0,len(t)):
        sum=sum+t[i]
    avg=float(sum/len(t))
    return avg

li=[2,4,6,7,8]

averageLinearDS(li)

5.4

In [33]:
def searchLinearDS(t,key):
    
    for i in range(0,len(t)):
        if(key==t[i]):
            flag=1
            break
        else:
            flag=0
    if(flag==1):
        print("element found in position",i)
    else:
        print("element not found")

li=[2,4,6,7,8]

searchLinearDS(li,7)

element found in position 3

In [34]:
for item in li:
    print(item)

2
4
6
7
8

In [36]:
s="ysreddy"
for c in s:
    print(c)

y
s
r
e
d
d
y

In [39]:
def maxelement(l):
    max=l[0]
    for i in range(1,len(l)):
        if(max<l[i]):
           max=l[i]
    return max

maxelement(li)

8

In [40]:
d1={'name1':1234567,'name2':567890}
d1

{'name1': 1234567, 'name2': 567890}

In [44]:
d1['name2']
d1.keys()
d1.values()

dict_values([1234567, 567890])

In [45]:
d2=d1

In [46]:
d2

{'name1': 1234567, 'name2': 567890}

In [50]:
d2

{'name2': 567890}

In [59]:
d1={}

def addElement(d,name,phone):
    d[name]=phone
    return

addElement(d1,'name1',233567)
addElement(d1,'name2',563567)
d1

def displayElement(d):
    for name,phone in d.items():
        print(name,":",phone)
    return

displayElement(d1)

def modifyElement(d,name,newphone):
    d[name]=newphone
    return

modifyElement(d1,name1,7890)

name1 : 233567
name2 : 563567

NameError: name 'name1' is not defined

In [58]:
name1 in d1

NameError: name 'name1' is not defined

In [65]:
li2=[2,3,4,5,6]
enumerate(li2)
for i,value in enumerate(li2):
    print(i,':',value)

0 : 2
1 : 3
2 : 4
3 : 5
4 : 6

In [69]:
li1=[3,4,6,8,9]
for i,j in zip(li1,li2):
    print(i,j)
    
zip(li1,li2)

3 2
4 3
6 4
8 5
9 6

In [70]:
import datetime

mydate = datetime.date(1943,3, 13)  #year, month, day
print(mydate.strftime("%A"))

Saturday

In [81]:
numbers=['zero','one','two','three','four','five','six','seven','eight','nine']
num=input("enter the number")

for i in num:
    print(numbers[int(i)],end='')

enter the number2345
twothreefourfive

#####Regular Expressions

[0-9]RE for all single digits
[0,1,2,3...9]

[a-z] RE for all lower case alphabet
[A-Z] RE for all upper case alphabet

[10]

In [9]:
import re
rno="19BG1A0501"

if re.match('[0-9]{2}[a-zA-Z0-9]{2}[1][aA][0][0-9]{3}$',rno):
    print('yes')
else:
    print('no')

yes

In [13]:
import re
num="9704603030"
if re.match('[6789][0-9]{9}$',num):   
    print('YES')  
else:  
    print('NO')

YES

In [21]:
import re
email="ysr123@gmail.com"

if re.match('^[a-z][a-z0-9_.]{5,14}[@][a-z0-9]{3,12}[.][a-z]{2,3}$',email) :
    print("yes")
else:
    print("no")

yes

In [17]:

import re
def phoneValidation(phone):
    phone=str(phone)
    pattern='^[6-9][0-9]{9}$'
    if re.match(pattern,phone):
        return True
    return False

phoneValidation(9704603030)

True

In [25]:
s1='Introduction to programming concepts with scratch, Scratch environment, sprites looks and motion, Angles and directions, repetition and variation, changing costumes, adding background, Input/Output,  variables and operators. Working with sounds and sprite communication and creating stories, App Generation'

In [26]:
syllabusList=re.split('[,][\ ]',s1)
syllabusList

['Introduction to programming concepts with scratch',
 'Scratch environment',
 'sprites looks and motion',
 'Angles and directions',
 'repetition and variation',
 'changing costumes',
 'adding background',
 'Input/Output',
 ' variables and operators. Working with sounds and sprite communication and creating stories',
 'App Generation']

In [34]:
import datetime

datetime_object = datetime.datetime.now()

print(datetime_object)

2019-05-31 17:09:47.802433

In [35]:
import datetime

date_object = datetime.date.today()
print(date_object)

2019-05-31

In [36]:
import datetime

d = datetime.date(2019, 4, 13)
print(d)

2019-04-13

In [43]:
import datetime
def dateDifference(date1,date2):
    year1=int(date1[:4])
    month1=int(date1[5:7])
    day1=int(date1[8:])
    year2=int(date2[:4])
    month2=int(date2[5:7])
    day2=int(date2[8:])
    date1=datetime.date(year1,month1,day1)
    date2=datetime.date(year2,month2,day2)
    return date2 - date1

print(dateDifference('2019:5:34','2019:7:23'))

ValueError: invalid literal for int() with base 10: '5:'

In [1]:
import calendar
calendar.isleap(2016)

True

In [5]:
def isLeap(year):
    if (year % 4 == 0 or year % 400 !=0) and (year % 100 == 0) :
        return True
    else:
        return False
    
isLeap(2020)

False

####list comprehensions

In [18]:
#calculate sum of squareroot  of n natural numbers
from math import sqrt
def sqrtNNaturalNumbers(n):
    return [sqrt(i) for i in list(range(1,n+1))]

sqrtNNaturalNumbers(10)

NameError: name 'divisility' is not defined

In [21]:
li=list(range(1975,2020))

def divisiblity(li):
    return [i for i in li if (i % 4 == 0 and i % 100 != 0)or (i%400==0)]

divisiblity(li)

[1976, 1980, 1984, 1988, 1992, 1996, 2000, 2004, 2008, 2012, 2016]

####Maps

functions and iterators are passed as parameters

In [24]:
# function to calculate cubes of all numbers in a list


li=[1,2,3,4,5,6]
def cube(n):
    return n**3

sum(list(map(cube,li)))

441